.home__title {
  padding-top: 6.5rem;
  padding-bottom: 5rem;
  background-color: #000;
  color: #fff;
}
.home__wrapper {
  max-width: 640px;
}
.home__text {
  font-family: Calibri, sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}
.home__desc {
  display: flex;
  align-items: center;
  height: 20rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.desc__wrapper {
  max-width: 800px;
}
.desc__text {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.3px;
  color: #7c7c7c;
}
