.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 0.4rem 0 0 0.4rem;
  color: var(--color-gray);
  outline: none;
}
.input::placeholder {
  color: var(--color-gray);
}
.btnSearch {
  position: relative;
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0 0.4rem 0.4rem 0;
  color: var(--color-white);
  background: var(--color-gray);
}
.span {
  position: relative;
  z-index: 2;
}
.btnSearch:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 0 0.4rem 0.4rem 0;
  background: var(--color-btnSearchHover);
  transition: width 0.35s;
}
.btnSearch:hover::after,
.btnSearch:focus::after {
  width: 100%;
}
