.header {
  background-color: #000;
}
.header__list {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(255 255 255 / 50%);
}
.header__left {
  display: flex;
}
.header__link {
  font-size: 1.3rem;
}
.header__link-left {
  margin-right: 1.5rem;
}
.link__selected {
  position: relative;
}
.link__selected::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #888888;
  left: 0;
  width: 100%;
  bottom: -4px;
  transition: width 0.3s ease-in-out;
}
.header__link a {
  color: #fff;
}
.header__link,
.link__selected {
  position: relative;
  display: inline-block;
  font-weight: 600;
  background: linear-gradient(to right, #1cb1da 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.4s ease;
}
.header__link:hover,
.link__selected:hover {
  background-position: 0 100%;
}
.header__logout {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
