.root {
  cursor: pointer;
  fill: var(--color-iconLike);
  transition: transform 0.1s ease;
}
.root:hover {
  fill: var(--color-iconLikeHover);
  transform: translateY(-1px);
}
.rootActive {
  cursor: pointer;
  fill: var(--color-iconLikeActive);
  transition: transform 0.1s ease;
}
.rootActive:hover {
  fill: var(--color-iconLikeActiveHover);
  transform: translateY(-1px);
}
