.like__icon {
  cursor: pointer;
  width: 17px;
  height: 17px;
  fill: rgb(255 255 255 / 65%);
  transition: transform 0.1s ease;
}
.like__icon:hover {
  fill: #eb3636;
  stroke: #eb3636;
  transform: translateY(-1px);
}
.like__icon-action {
  cursor: pointer;
  width: 17px;
  height: 17px;
  fill: #f15151;
  stroke: #f15151;
}
.like__icon-action:hover {
  fill: rgb(255 255 255 / 65%);
  stroke: none;
}
